@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body{
    max-width: 1440px;
    margin: 0 auto;
    background-color: #F5F8FF;
}

*{
    outline: 1px solid salmon;
}

/* shared style */
.display{
    display: flex;
}
*{
    box-sizing: border-box;
}
img{
    max-width: 100%;
}

*{
    margin: 0;
    padding: 0;
}

.text-secondary{
    color:rgba(0, 0, 0, 0.50) ;
    font-size: 1.375rem;
}
.orange-span{
color: #E95A08;
}

.btn-primary{
    background-color: #E95A08;
    color: white;
    font-size: 1.1875rem;
    padding: 19px 110px;
    border: none;
    margin-top: 30px;
}

/* navigation style */
ul li {
    list-style-type: none;
    margin-left: 48px;
}
ul li a{
text-decoration: none;
color: #8987A1;
}
span{
    color:#252432 ;
    font-weight: bold;
}
.nav-bar{
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 120px;
}

/* banner style */
.banner{
    justify-content: space-between;
}
.banner img{
   margin-top: 106px;
   width: 100%;
}

.banner-items{
    margin-top: 165px;
    max-width: 570px;
}
.banner-title{
    font-size: 4.0625rem;
}

/* our plant style */
.our-plant-title{
    font-size: 3.125rem;
    font-weight: bold;
}
.our-plant{
   margin-top: 120px; 
   text-align: center;
}
.our-plant-description{
    padding-left: 126px;
    padding-right: 126px;
    padding-top: 16px;
}
/* FLOWER CARD SECTION */

.flower-card{
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.card{
margin-bottom: 30px;
}
.card img{
    width: 100%;
}
.flower-name{
font-size: 1.375rem;
padding-top: 30px;
padding-bottom: 20px;

}
.flower-price{
font-size: 1.375rem;
}

/* flower lover container start */


.trust-badge{
    width: 286px;
    position:absolute;
    margin-left: 350px;
    margin-top: -127px;
}
.flower-lover-container{
    margin-top: 211px;
    gap: 60px;
    flex: 1;
    margin-bottom: 133px;
}
.flower-lover-text li{
    margin-top: 20px;
    font-size: 1.375rem;
    flex: 1;
}
.flower-lover-heading{
    font-size: 3.125rem;
    font-weight: bold;
}
.flower-lover-text{
    flex: 1;
}
/* latest deal section start */
.deal-title{
    font-size: 3.125rem;
    font-weight: 700;
}
.deal-text{
    text-align: center;
    margin-bottom: 121px;
}
.deal-description{
    padding-inline: 276px ;
    padding-top: 16px;
}
/* DEAL IMAGE SECTION */

.box-container {
      display: flex;
      height: 600px;
      width: 100%;
      gap: 28px; 
      margin-bottom: 120px;
    }

    .left-column {
      flex: 1; 
      display: flex;
      flex-direction: column;
      gap: 28px;
      border-radius: 22px;
    }

    .right-column {
       flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
    url(../assets/deal-zabo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  font-size: 24px;
  border-radius: 22px;
    }

    .box {
      flex: 1; 
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 24px;
      border-radius: 22px;
    }

    .bloom {
      background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
    url(../assets/deal-bloom.png);
      background-size: cover;
    }

    .ana {
      background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
    url(../assets/deal-ana.png);
      background-size: cover;
    }

.text-span{
    color: white;
    font-weight: 700;
    text-align: center;
    border-bottom: 3px solid white;
}
.right-column>h3{
    font-size:2.5rem;
}
.bloom>h3, .ana>h3{
    font-size:1.25rem;
}
.colorful-brunch{
    background-image: url(../assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 120px;
    min-height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.colorful-brunch input[type="email"] {
  padding: 15.5px 540px 15.5px 20px; 
  font-size: 1rem; 
}

.join{
    font-size: 3.125rem;
    color: white;
    font-weight: 700;
}
.end{
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 107px;
}

.end-navigation ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 32px;
    margin-bottom: 50px;
}

/* responsive style */

@media screen and (max-width:576px) {
    /* navigation */
    
    .nav-item-hidden{
        display: none;
    }
    .nav-bar{
        margin-left: 16px;
        margin-right: 16px;
        align-items: center;
        margin-bottom: 20px;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .banner img{
        margin-bottom: 28px;
        margin-top: 0px;
    }
    .banner-items{
        margin-top: 0px;
        margin-bottom: 65px;
        margin-left: 16px;
        margin-right: 16px;
    }
    .banner-title{
        font-size: 1.5rem;
    }
    .banner-description{
        font-size: .875rem;
    }
    /* FLOWER CARD SECTION */

.flower-card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0px; 
} 
.flower-card {
  width: 100%;
  max-width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
}

.our-plant-title{
    font-size: 1.5rem;
    font-weight: bold;
}
.our-plant-description{
    font-size: .875rem;
    padding-left: 28.5px;
    padding-right: 28.5px;
    padding-top: 16px;
    padding-bottom: 28px;
}
.our-plant{
   margin-top: 65px; 
   text-align: center;
}
.card img{
    max-width: 171px;
    width: 100%;
}
.card{
    width: 100%;
    text-align: center;
}

.flower-name{
font-size: 1rem;
padding-top: 30px;
padding-bottom: 5px;

}
.flower-price{
font-size: 1rem;
}

.btn-primary{
    background-color: #E95A08;
    color: white;
    font-size: 1rem;
    padding: 19px 30.5px;
    border: none;
    margin-top: 30px;
}

/* flower-lover section style in responsive*/


.trust-badge{
    display: none;
}
.flower-lover-container{
    margin-top: 41.5px;
    display: flex;
    flex-direction: column;
    margin-inline: 17px;
}
.flower-lover-text li{
    margin-top: 20px;
    font-size: .875rem;
    flex: 1;
}
.flower-lover-heading{
    font-size: 1.5rem;
    font-weight: bold;
}
.deal-title{
    font-size: 1.5rem;
    font-weight: 700;
}
 
.deal-description{
    padding-inline: 0px ;
    padding-top: 0px;
    font-size: 1rem;
} 
.deal-text{
    text-align: center;
    margin-bottom: 51.5px;
}
  .box-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    margin-bottom: 40px;
    min-height: 570px;
  }
   .left-column {
      flex: 2; 
      display: flex;
      flex-direction: column;
      gap: 20px;
      border-radius: 22px;
      min-height: 354px;

    }

    .right-column {
       flex: 1;
       min-height: 177px;
    }
    .right-column>h3{
    font-size:1.25rem;
}
.bloom>h3, .ana>h3{
    font-size:1.25rem;
}
/* footer style */
.colorful-brunch{
    background-image: url(../assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.colorful-brunch input[type="email"] {
  padding: 15.5px 14px 15.5px 20px; 
  font-size: 1rem;
}
.join{
    font-size:1rem;
    color:white;
    font-weight:700;
}
.colorful-brunch >button {
    background-color: #E95A08;
    color: white;
    font-size: .875rem;
    padding: 19px 12px;
    border: none;
    
}
.end{
    max-width: 1440px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    
}
.end-navigation ul{
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 50px;
}

}
